TEAM_ID=

PRODUCT_NAME=Sakehackkmp
PRODUCT_BUNDLE_IDENTIFIER=org.sake_hack.Sakehackkmp$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

FRAMEWORK_SEARCH_PATHS = $(inherited) $(SRCROOT)/../feature/greeting/build/bin/$(PLATFORM_NAME)/$(CONFIGURATION)Framework
OTHER_LDFLAGS = $(inherited) -framework Greeting
